## ########################### ##
## Brujito1loquillo exclusions ##
## ########################### ##

# .Trash
.Trash*

# Eclipse Workspace from Java non personal files
M3-workspace/.*

# System Volume Information
System*

# $RECYCLE.BIN
$RECYCLE*
