### Los comentados con 3# son del archivo generado automaticamente para tener un ejemplo
### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
###.vscode/
#Cache folder
###.alcache/
#Symbols folder
###.alpackages/
#Snapshots folder
###.snapshots/
#Testing Output folder
###.output/
#Extension App-file
###*.app
#Rapid Application Development File
###rad.json
#Translation Base-file
###*.g.xlf
#License-file
###*.flf
#Test results file
### TestResults.xml

## ########################### ##
## Brujito1loquillo exclusions ##
## ########################### ##

# .Trash
.Trash*

# $RECYCLE.BIN
$RECYCLE*

# System Volume Information
System*

# Eclipse Workspace from Java non personal files
M3-workspace/.*